mat-card {
  width: 25vw;
  height: 300px;
  margin: 30px;
  padding: 25px;
}

.label {
  font-size: large;
  font-weight: 660;
  color: rgb(48, 207, 48);
}
p {
  font-size: large;
  margin-right: auto;
}
mat-card-actions {
  display: flex;
  padding: 5px;
  flex-direction: row-reverse;
  margin: 5px;
}
mat-form-field {
  margin: 0 15px;
}
mat-card-content {
  display: flex;
  flex-direction: row-reverse;
}
